.wrapper {
    margin: 3px 24px;
    justify-content: space-between;
    display: inline-block;
}

select {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-right: 30px;
}

.weeklyOff {
    margin-right: 30px;
}

.slotWrapper {
    margin-top: 30px;
}

.slotDay {
    border: solid black 1px;
    padding: 5px;
}

.slot {
    margin-left: 45px;
    border: 1px solid black;
    padding: 5px;
}

svg {
    vertical-align: top;
}

.btn-wrapper {
    margin-top: 20px;
}

.btn {
    background: rgb(199, 195, 195);
    color: white;
    font-weight: bolder;
    font-size: 21px;
}

.text-btn {
    margin-left: 20px;
}